<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                     <div class="heading">
                        <h1>Categories Pages</h1>
                     </div>
                     <ul>
                        <li><a href="javascript:void(0);">Home</a></li>
                        <li><a href="javascript:void(0);">Categories Pages</a></li>
                        <li><a href="javascript:void(0);">Furniture</a></li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="category">
        <div class="container">
            <div class="category-inner">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                    <div class="category-dropdown">
                        <label for="categorySelect" class="form-label">Category:</label>
                        <select id="categorySelect" class="form-select" style="width: auto;">
                        <option selected>Furniture</option>
                        <option value="1">Electronics</option>
                        <option value="2">Home Decor</option>
                        <option value="3">Kitchen</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-12">
                    <ul class="nav category-tabs">
                        <li class="nav-item">
                        <a class="nav-link" href="#">Sofa Set</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="#">Bed Sheet</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Table</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Wardrobe</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Recliner</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Dining Table</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Office Furniture</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Chair</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-3 col-sm-6 col-12 mb-4">
            <div class="category-slider owl-carousel owl-loaded owl-drag">
                <div class="product">
                    <div class="content-inner">
                            <div class="content-two">
                                <div class="image">
                                    <img src="images/category-img/sofa-2.webp" alt="">
                                </div>
                                <div class="inner-content">
                                    <div class="heading">
                                        <h3>Integrated 4 High Tower</h3>
                                    </div>
                                    <div class="price">
                                        <p>Rs 6.75 Lac / Piece</p>
                                    </div>
                                    <div class="location">
                                        <p>Sector 2, Noida 90878</p>
                                    </div>
                                    <div class="short-des">
                                        <p>Lorem ipsum dolor sit amet consectetur. Pret ium risus soci is fames suscipit ull am corper Sed duis cras duis.</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);">sign up</a>
                                        <a href="tel:+911234567890">call now</a>
                                    </div>
                                </div>
                            </div>
                     </div>
                </div>

                <div class="product">
                    <div class="content-inner">
                            
                            <div class="content-two">
                                <div class="image">
                                    <img src="images/category-img/sofa-2.webp" alt="">
                                </div>
                                <div class="inner-content">
                                    <div class="heading">
                                        <h3>Integrated 4 High Tower</h3>
                                    </div>
                                    <div class="price">
                                        <p>Rs 6.75 Lac / Piece</p>
                                    </div>
                                    <div class="location">
                                        <p>Sector 2, Noida 90878</p>
                                    </div>
                                    <div class="short-des">
                                        <p>Lorem ipsum dolor sit amet consectetur. Pret ium risus soci is fames suscipit ull am corper Sed duis cras duis.</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);">sign up</a>
                                        <a href="tel:+911234567890">call now</a>
                                    </div>
                                </div>
                            </div>
                       

                    </div>
                </div>

                <div class="product">
                    <div class="content-inner">
                           <div class="content-two">
                                <div class="image">
                                    <img src="images/category-img/sofa-2.webp" alt="">
                                </div>
                                <div class="inner-content">
                                    <div class="heading">
                                        <h3>Integrated 4 High Tower</h3>
                                    </div>
                                    <div class="price">
                                        <p>Rs 6.75 Lac / Piece</p>
                                    </div>
                                    <div class="location">
                                        <p>Sector 2, Noida 90878</p>
                                    </div>
                                    <div class="short-des">
                                        <p>Lorem ipsum dolor sit amet consectetur. Pret ium risus soci is fames suscipit ull am corper Sed duis cras duis.</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);">sign up</a>
                                        <a href="tel:+911234567890">call now</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="product">
                    <div class="content-inner">
                           
                            <div class="content-two">
                                <div class="image">
                                    <img src="images/category-img/sofa-2.webp" alt="">
                                </div>
                                <div class="inner-content">
                                    <div class="heading">
                                        <h3>Integrated 4 High Tower</h3>
                                    </div>
                                    <div class="price">
                                        <p>Rs 6.75 Lac / Piece</p>
                                    </div>
                                    <div class="location">
                                        <p>Sector 2, Noida 90878</p>
                                    </div>
                                    <div class="short-des">
                                        <p>Lorem ipsum dolor sit amet consectetur. Pret ium risus soci is fames suscipit ull am corper Sed duis cras duis.</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);">sign up</a>
                                        <a href="tel:+911234567890">call now</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
              </div>
              </div>
            </div>
        </div>
</section>
