<section class="category">
    <div class="container mt-4 mb-4">
        <div class="category-inner">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="category-dropdown">
                        <label for="categorySelect" class="form-label">Category:</label>
                        <label for="categorySelect" class="form-label"><span>Furniture</span> > <span>Sofa
                                Set</span></label> 
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-12">
                    <div class="category-dropdown">
                        <label for="categorySelect" class="form-label">Price:</label>
                        <select id="categorySelect" class="form-select" style="width: auto;">
                            <option selected>Low To high</option>
                            <option value="1">Electronics</option>
                            <option value="2">Home Decor</option>
                            <option value="3">Kitchen</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-12">
                    <div class="category-dropdown col-sm-6 col-12">
                        <label for="categorySelect" class="form-label">Cities:</label>
                        <select id="categorySelect" class="form-select" style="width: auto;">
                            <option selected>Indore</option>
                            <option value="1">Electronics</option>
                            <option value="2">Home Decor</option>
                            <option value="3">Kitchen</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-12">
                    <div class="category-dropdown col-sm-6 col-12">
                        <label for="categorySelect" class="form-label">Brand:</label>
                        <select id="categorySelect" class="form-select" style="width: auto;">
                            <option selected>Stonewood</option>
                            <option value="1">Electronics</option>
                            <option value="2">Home Decor</option>
                            <option value="3">Kitchen</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-page">

            <div class="row">
               
                    <div *ngFor="let products of productDatas" class="col-lg-3 col-sm-6 col-12 mb-4" >
                        
                        <div class="product">
                            <div class="content-inner">
                                <div class="content-two">
                                    <div class="image">
                                        <img src="/images/category-img/sofa-2.webp" alt="">
                                    </div>
                                    <div class="inner-content">
                                        <div class="heading">
                                            <h3>{{products.product_name}}</h3>
                                        </div>
                                        <div class="price">
                                            <p>Rs 6.75 Lac / Piece</p>
                                        </div>
                                        <div class="location">
                                            <p>{{products.seller_name}}</p>
                                        </div>
                                        <div class="location">
                                            <p>{{products.city}} {{products.state}}</p>
                                        </div>
                                        <div class="short-des">
                                            <p>Lorem ipsum dolor sit amet consectetur. Pret ium risus soci is fames suscipit
                                                ull am corper Sed duis cras duis.</p>
                                        </div>
                                        <div class="button-group">
                                            <a href="javascript:void(0);">sign up</a>
                                            <a href="tel:+911234567890">call now</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
               

                <!-- <div class="col-lg-3 col-sm-6 col-12 mb-4">
                    <div class="product">
                        <div class="content-inner">

                            <div class="content-two">
                                <div class="image">
                                    <img src="/images/category-img/sofa-2.webp" alt="">
                                </div>
                                <div class="inner-content">
                                    <div class="heading">
                                        <h3>Integrated 4 High Tower</h3>
                                    </div>
                                    <div class="price">
                                        <p>Rs 6.75 Lac / Piece</p>
                                    </div>
                                    <div class="location">
                                        <p>Sector 2, Noida 90878</p>
                                    </div>
                                    <div class="short-des">
                                        <p>Lorem ipsum dolor sit amet consectetur. Pret ium risus soci is fames suscipit
                                            ull am corper Sed duis cras duis.</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);">sign up</a>
                                        <a href="tel:+911234567890">call now</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12 mb-4">
                    <div class="product">
                        <div class="content-inner">

                            <div class="content-two">
                                <div class="image">
                                    <img src="/images/category-img/sofa-2.webp" alt="">
                                </div>
                                <div class="inner-content">
                                    <div class="heading">
                                        <h3>Integrated 4 High Tower</h3>
                                    </div>
                                    <div class="price">
                                        <p>Rs 6.75 Lac / Piece</p>
                                    </div>
                                    <div class="location">
                                        <p>Sector 2, Noida 90878</p>
                                    </div>
                                    <div class="short-des">
                                        <p>Lorem ipsum dolor sit amet consectetur. Pret ium risus soci is fames suscipit
                                            ull am corper Sed duis cras duis.</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);">sign up</a>
                                        <a href="tel:+911234567890">call now</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12 mb-4">
                    <div class="product">
                        <div class="content-inner">

                            <div class="content-two">
                                <div class="image">
                                    <img src="/images/category-img/sofa-2.webp" alt="">
                                </div>
                                <div class="inner-content">
                                    <div class="heading">
                                        <h3>Integrated 4 High Tower</h3>
                                    </div>
                                    <div class="price">
                                        <p>Rs 6.75 Lac / Piece</p>
                                    </div>
                                    <div class="location">
                                        <p>Sector 2, Noida 90878</p>
                                    </div>
                                    <div class="short-des">
                                        <p>Lorem ipsum dolor sit amet consectetur. Pret ium risus soci is fames suscipit
                                            ull am corper Sed duis cras duis.</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);">sign up</a>
                                        <a href="tel:+911234567890">call now</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>  -->
            </div>
        </div>
    </div>
</section>